
*/.Rproj.user/*
HB_ordering_decision/.RData

*.history

HB_ordering_decision/.Rhistory

*.pper

HB_ordering_decision/.Rproj.user/DF136B05/rmd-outputs

HB_ordering_decision/.Rproj.user/DF136B05/saved_source_markers

HB_ordering_decision/.Rproj.user/shared/notebooks/paths

HB_ordering_decision/.Rproj.user/DF136B05/session-persistent-state

HB_ordering_decision/rsconnect/shinyapps.io/ploulack/hb_ordering_decision.dcf

HB_ordering_decision/.httr-oauth

Tecan/.httr-oauth

*.Rproj

*.xml

*.html

*.Rmd

Tecan/.Rhistory
